<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Генерация</title>
  <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: nav}"></div>


<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 th:text="${message1}"></h3>
        <h3 th:text="${message2}"></h3>
        <div id="accordion">
          <div class="card" th:each="arr2, i:${list}">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse"
                        th:data-target="'#collapseOne'+${i.index}" aria-expanded="true"
                        th:aria-controls="'collapseOne'+${i.index}"
                        th:text="'День недели: ' + ${i.index+1}">Разворачиваемая панель #1
                </button>
              </h5>
            </div>

            <div th:id="'collapseOne'+${i.index}" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <table class="table table-striped table-responsive-md"
                       th:each="arr:${arr2}">
                  <thead>
                  <tr>
                    <th>Класс</th>
                    <th>Номер урока</th>
                    <th>Предмет и учитель</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="entity : ${arr}">
                    <div th:if="${entity!=null}">
                      <td th:text="${entity.classes}"></td>
                      <td th:text="${entity.time+1}"></td>
                      <td
                          th:text="${entity.subject.name}+' ('+${entity.teacher.name}+')'"></td>
                    </div>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>